<%- include('../partials/header') %>
<h3>Add custom cards to <%= deck.name %></h3>
<div id="cust-addform">
  <form action="/decks/<%= deck._id %>" method="POST" autocomplete="off">
    <label>Japanese:</label>
    <input type="text" name="character" class="form-inputs" />
    <label>English:</label>
    <input type="text" name="translation" class="form-inputs" />
    <label>Category:</label>
    <input type="text" name="type" class="form-inputs" />
    <input type="submit" class="submit-inputs" />
  </form>
</div>
<br />
<form action="/decks/<%=deck._id%>?_method=PUT" method="POST">
  <label>Update Deck Name</label>
  <input type="text" name="name" class="form-inputs" />
  <input type="submit" name="" class="submit-inputs" />
</form>
<br />

<form action="/decks/<%=deck._id%>?_method=DELETE" method="POST">
  <button id="delDeck-btn">Delete <%=deck.name%> Deck</button>
</form>

<% deck.cards.forEach(el => { %>

<div class="verb-card" id="flip-card">
    <div class="card-front <%= el.character && el.translation %>" id="display-card"><%= el.character %></div>
    <!-- <div class="card-back"><%= el.translation %></div> -->

  <div class="card-btn">
    <button id="flip-btn"><i class="material-icons">flip</i></button>

    <form action="/decks/<%=el.translation%>/<%= deck._id%>?_method=DELETE" method="POST">
      <button type="submit" id="form-btn"><i class="material-icons">delete</i></button>
    </form> 
  </div>
</div>
<% }) %>


<%- include('../partials/footer') %>
