<%- include('../partials/header') %>


<% if (char[0].type === 'adjective') { %>

    <% char.forEach(el => { %> 
        <div class="adj-card" id="<%= el._id %>">
            <p id="eng"><%= el.character %></p> <br>
            <p id="jpn"><%= el.translation %></p>
        </div>   
    <% }) %>

<% } else if (char[0].type === 'verb') { %>

    <% char.forEach(el => { %> 
        <div class="verb-card" id="<%= el._id %>">
            <p id="eng"><%= el.character %></p> <br>
            <p id="jpn"><%= el.translation %></p>
        </div>   
    <% }) %>

<% } else {%>

    <% char.forEach(el => { %> 
        <div class="card" id="<%= el._id %>">
            <p id="eng"><%= el.character %></p> <br>
            <p id="jpn"><%= el.translation %></p>
        </div>   
    <% }) %>

<% } %>



<%- include('../partials/footer') %>